/* .about {
    margin: 2rem 4rem;
} */
.about-header h2 {
    padding-top: 2rem;
}
.about-header h3 {
    margin: 1.5rem 0;
}
.Know-us-content {
    margin-top: 2rem;
}
.Know-us-content p {
    margin: .7rem 3rem;
}

/* @media (max-width: 38em){
    .about {
        margin: 1rem;
    }
} */

.about-header{
	background-image: url(/public/images/image14.jpg);
	/* height: 40vh; */
	background-size: 100%;
	background-position: top 25% right;

    background-repeat: no-repeat;
    position: relative;
    margin-left: auto;
    margin-right: auto;

	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}
.about-head{
	padding: 0 5rem;
    margin: 4rem 0;
	display: flex;
	text-align: center;
    justify-content: space-between;
}
.about-head img{
    width: 50%;
    height: auto;
    border-radius: .2rem;
    object-fit: cover;
}
.about-head div{
    padding-left: 2rem;
}
.about-head p{
    margin: 1rem 0;
}
.about-head .marquee{
    border-radius: .2rem;
    background: lightgray;
    padding: .25rem;
}
@media (max-width: 62rem){
    .about-head{
        padding: 0 2rem;
    }
    .about-head p,
    .Know-us-content p {
        margin: .7rem 2rem;
    }
}
@media (max-width: 45rem){
    .about-head{
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-head img{
        margin-bottom: 1rem;
        width: 80vw;
    }
    .about-head div{
        padding: 0 1rem;
    }
    .about-head p,
    .Know-us-content p {
        margin: .7rem 1rem;
    }
}