@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Radio+Canada:wght@300&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* background: #ccfbfe; */
  /* background-color: #ffdee9; */
  /* background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%); */
  background: rgb(240, 240, 249);
}
.tinder {
  width: 100%;
  margin-top: 2.5rem;
  height: 75vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded,
.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .uil-heart-alt {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .uil-multiply {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  /* padding-top: 40px; */
  max-height: 33rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  width: 90vw;
  max-width: 20rem;
  height: 60vh;
  /* height: 55vh; */
  background: #ffffff;
  /* padding-bottom: 40px; */
  border-radius: 1.4rem;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  /* cursor: -webkit-grab; */
  /* cursor: -moz-grab; */
  /* cursor: grab; */
}

.moving.tinder--card {
  transition: none;
  /* cursor: -webkit-grabbing; */
  /* cursor: -moz-grabbing; */
  /* cursor: grabbing; */
}

.tinder--card img {
  max-width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.tinder--card h3 {
  margin: 1.5rem 0 0 0;
  font-size: 2rem;
  pointer-events: none;
}

.tinder--card p {
  margin: 2rem 0;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 3rem;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 55px;
  width: 55px;
  border: 0;
  background: #ffffff;
  display: inline-block;
  margin: 0 5px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 35px;
  vertical-align: middle;
}
/* Accepted button */
.uil-heart-alt {
  color: #fface4;
  cursor: pointer;
}
/* Rejected button */
.uil-multiply {
  color: #acb5bb;
  cursor: pointer;
}
.uil-info-circle {
  color: #72eab2;
  cursor: pointer;
}
.uil-shopping-cart-alt {
  color: #6fb1e4;
  cursor: pointer;
}

.product-info .price{
  font-family: 'Poppins', sans-serif;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 600;
  font-size: larger;
  text-decoration: none;
  background-color: transparent;
  color: #000;
}
.product-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px dashed #72eab2;
  position: relative;
  bottom: -10%;
  border-radius: 8px;
  margin: 0 1rem;
  padding: 0.6rem;
}
.product-info li{
  list-style: none;
}
#avail{
  color: rgb(0, 179, 255);
  cursor: pointer;
}

.Home__feature-products {
  margin: 1rem;
}
.Home__feature-products h1{
  text-align: center;
  margin: 2rem auto;
  margin-top: 4rem;
}

@media (max-width: 38rem){
  .tinder{
    margin-top: 2rem;
  }
  .tinder--buttons {
    padding-top: 2rem;
  }
  .Home__feature-products h1{
    margin: 1.5rem auto;
    margin-top: 2rem;
  } 
}