#feature{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
	margin: 20px 0 20px 0;
}
#hero{
	/* background-image: url(/public/images/image5.jpg); */
	height: 60vh;
	width: 100%;
	background-size: 100%;
	background-position: top 50% right 0;
	margin-bottom: 1rem;
	padding: 0 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	object-fit: cover;
	animation: animate 20s ease infinite;
}

@keyframes animate{
	0%{
        background-image: url(/public/images/image21.jpg);
        background-repeat: no-repeat;
    }
    25%{
        background-image: url(/public/images/image12.jpg);
        background-repeat: no-repeat;
    }
    50%{
        background-image: url(/public/images/image17.jpg);
        background-repeat: no-repeat;
    }
    75%{
        background-image: url(/public/images/image18.jpg);
        background-repeat: no-repeat;
    }
    100%{
        background-image: url(/public/images/image19.jpg);
        background-repeat: no-repeat;
	}
}

#hero h4{
	padding-bottom: 15px;
}

#hero h1{
	color: #088178;
	/* font-size: 6vh; */
}
#hero button{
	background-color: transparent;
	border: 0;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}
.product{
	margin: 1rem 3rem;
	height: 20rem;
	width: 15rem;
	position: relative;
	background-color: white;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	text-align: center;
	cursor: pointer;
	/* border: 1px solid rgba(0, 0, 0, .1); */
	/* flex-grow: 1; */
	/* flex: 1 0 calc(25% - 10px); */
	/* width: calc(100% * (1/5)); */

}

.product a{
	text-decoration: none;

}
.img-box{
	/* height: 210px; */
	height: 70%;
	/* max-width: 10rem; */
}
.img-box::after {
	content: 'New';
	position: absolute;
	top: -10px;
	right: -20px;
	border-radius: 30%;
	padding: 3px 5px;
	background: white;
	border: 1px solid #006400;
}
.img-box img{
	max-width: 100%;
	max-height: 100%;
}
.time{
	/* position: absolute; */
	/* top: 0px; */
	/* right: 20px; */
    text-align: right;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
	color: black;
	font-style: bold;
}
.detail{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	font-size: 18px;
	padding: 7px;
	height: 18%;
}
.price{
	color: navajowhite;
	background-color: darkred;
	line-height: 20px;
}
.cart{
	/* position: absolute; */
	bottom: 0px;
	/* height: 40px; */
	height: 12%;
	width: 100%;
	display: flex;
    border-end-start-radius: 1rem;
    border-end-end-radius: 1rem;
	justify-content: center;
	align-items: center;
	background-color: darkgreen;
}
.cart a{
	color: lightgray;
}
.product:hover{
	box-shadow: 2px 2px 12px;
	transform: scale(1.07);
	transition: all ease 0.3s;
}

.banner{
	background-image: url(/public/images/image6.jpg);
	margin: 40px 0;
	height: 40vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	/* padding: 0 10px; */
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
button.normal{
	background-color: transparent;
	border: 0;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 20px;
	color: white;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.2s;
	outline: none;
	margin: .5rem 0 1rem 0;
}
button:hover{
	background-color: lightblue;
}

.banner h2{
	font-weight: 600;
	/* font-size: 20px; */
}
.banner h2 span{
	font-weight: 600;
	/* font-size: 20px; */
	color: deeppink;
}

#sm-banner{
  width: 100%;
  /* display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex; */
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#sm-banner .banner-box{
	background-image: url(/public/images/pic1.jpg);
	height: 50vh;
	min-width: 22rem;
	flex-basis: 40%;
	padding: 1.5rem;
	background-size: cover;
	background-position: center;
	border-radius: .3rem;
}

#sm-banner .banner-box1{
	background-image: url(/public/images/img2.jpg);
	height: 50vh;
	min-width: 22rem;
	flex-basis: 40%;
	padding: 1.5rem;
	background-size: cover;
	background-position: center;
	border-radius: .3rem;
}

#sm-banner h2{
	color: darkgreen;
	font-size: 28px;
	font-weight: 800;
}
#sm-banner span{
	color: lightblue;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 15px;
}

#sm-banner .banner-box button{
	background-color: transparent;
	border: 0;
	font-size: 20px;
	font-weight: 600;
	padding: 11px 22px;
	color: lightgoldenrodyellow;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.2s;
	outline: none;
}

#sm-banner .banner-box:hover button{
	background-color: #088178;
	border: 1px solid #088178;
}
#sm-banner .banner-box1 button{
	background-color: transparent;
	border: 0;
	font-size: 20px;
	font-weight: 600;
	padding: 11px 22px;
	color: lightgoldenrodyellow;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.2s;
	outline: none;
}

#sm-banner .banner-box1:hover button{
	background-color: #088178;
	border: 1px solid #088178;
}

#banner3 {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#banner3 .banner-box{
	background-image: url(/public/images/image1.jpg);
	height: 40vh;
	background-size: cover;
	flex-basis: 40%;
	width: 350px;
  padding: 1.5rem;
  margin: 1rem;
  background-size: cover;
  float: left;
  min-width: 12rem;
  max-width: 26rem;
  border-radius: .3rem;
}

#banner3 .banner-box2{
	background-image: url(/public/images/image3.jpg);
}
#banner3 .banner-box3{
	background-image: url(/public/images/image4.jpg);
}
#banner3 h2{
	color: #fff;
	font-weight: 500;
	font-size: 22px;
}
#banner3 h3{
	color: green;
	font-weight: 800;
	font-size: 15px;
}
.bag-collection-container {
	text-align: center;
	margin-bottom: 35px;
}

@media (max-width: 38rem) {
	#hero{
		height: 40vh;
	}
	.product{
		margin: 1rem;
	}
	#banner3 .banner-box{
	min-width: 75vw;
	}
}
@media (max-width: 42rem) {
	.product{
		margin: 1rem 0.5rem;
	}
}

@media (max-width: 45rem) {
	/* #sm-banner{
		margin: 0.5rem 0;
	} */
	#sm-banner .banner-box{
		margin: .5rem 1rem;
		min-width: 90vw;
	}
	#sm-banner .banner-box1{
		margin: .5rem 1rem;
		min-width: 90vw;
	}
}