#addMoreItems {
    /* background: blanchedalmond; */
    color: black;
    text-decoration: none;
    border: 2px solid rebeccapurple;
    /* scroll-behavior: auto; */
    /* height: 50vh; */
    display: flex;
    /* left: -50%; */
    margin-left: calc(45%);
    margin-right: calc(50%);
    width: 100%;
    text-align: center;
}

/* h1{
  text-align: center;
} */

#hello {
    margin: 0;
  position: absolute;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* top: 50%; */
  left: 50%;
  font-size: 3rem;
  /* -ms-transform: translate(-50%, -50%); */
  transform: translate(-50%, 0%);
}

/* ------------- */
/* BUTTON */
/* <!-- HTML !-->
<button class="button-85" role="button">Button 85</button> */

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  /* position: fixed; */
  /* top: 10rem; */
  /* right: 3rem; */
  margin: 1rem 0;
  transition: all 400ms ease-in-out;
}
.button-85:hover{
  scale: 1.1;
}
/* @media (max-width: 38rem){
  .button-85{
    position: fixed;
    top: 49rem;
  right: 2rem;
  }
} */

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  /* content: ""; */
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


/* CSS Cards */


.card-container {
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: 2px solid red;
  /* flex-basis: 25%; */
  width: 15rem;
  height: 20rem;
  text-align: center;
  margin: 3rem 0 3rem 0;
  background: #48ff00;
  object-fit: cover;
  padding: 1rem;
}

.about-empty{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* margin: auto; */
  padding: auto;
  height: 100vh;
}

.emptyness {
  margin: 3rem 0;
  margin-bottom: 1.5rem;
}

.about{
  text-align: center;
  height: 100vh;
}





#add-more{
	background-color: green;
	border: 0;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 20px;
	color: white;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.2s;
	outline: none;
	margin: .5rem 0 1rem 0;
	transition: all 250ms ease-out;
}
#add-more:hover,
#add-more:focus{
	box-shadow: 1px 3px 6px gray;

}